packages/sui/src/grpc/proto/** linguist-generated=true
packages/sui/src/graphql/generated/** linguist-generated=true
packages/suins-v2/src/contracts/** linguist-generated=true
packages/codegen/tests/generated/** linguist-generated=true
packages/walrus/src/contracts/** linguist-generated=true
packages/walrus-wasm/web/** linguist-generated=true
packages/walrus-wasm/nodejs/** linguist-generated=true
packages/deepbook-v3/src/contracts/** linguist-generated=true
packages/payment-kit/src/contracts/** linguist-generated=true
packages/kiosk/src/contracts/** linguist-generated=true
